<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="emulatorpath" value="E:\Emulators"/>
      <add key="mGBAext" value=".zip"/>
      <add key="Citra-qtext" value=".3ds"/>
      <add key="DeSmuMeext" value=".7z"/>
      <add key="Dolphinext" value=".iso"/>
      <add key="snes9xext" value=".smc"/>
      <add key="ePSXe" value=".bin"/>
      <add key="ignoreddirs" value="Rom Images,Achievements"/>
      <add key="ignoredexts" value="sav,ss1,cue"/>
    </appSettings>
</configuration>